/* стили, которые не пойдут в продакшн */
body {
	margin: 0;
}

/* в продакшн */

.appWrapper {
	min-height: 86vh;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	background-image: url('img/screen.png');
	background-repeat: no-repeat;
	background-size: 40%;
	background-position: right;
	background-color: #287abc;
}

.appDesc {
	/* margin: 40px 0 0 40px; */ 
	margin-left: 40px;
}

.appDesc h1 {
	font-size: 3em; /* возможно не обязательно */
	color: #e6e3d0; 
}

.appDesc p {
	font-size: 1.2em; /* возможно не обязательно */
	color: #e6e3d0;
}

#downloadButton {
	border: 0;
    font-size: 1.3em;
    background-color: #242424;
    padding: 10px;
    color: gold;
    cursor: pointer;
    transition: 0.5s;
}

#downloadButton:hover {
	background-color: rgba(36, 36, 36, 0.8);
	box-shadow: -5px -9px 0px -5px white inset;
}
 
#infoButton {
	border: 0;
    font-size: 1.3em;
    background-color: gold;
    padding: 10px;
    color: #242424;
    cursor: pointer;
    transition: 0.5s;
}

#infoButton:hover {
	background-color: rgba(255, 215, 0, 0.8);
	box-shadow: -5px -9px 0px -5px white inset;
	color: #242424;
}

.app-info {
	display: grid;
	grid-template-columns: auto 1fr;
	margin-left: 40px;
	gap: 40px;
}

.app-img img {
	max-width: 300px;
}

.sys-req-h3 {
	margin-top: 0;
	font-size: 1.8em;
}

.about-app {
	margin: 40px;
}

.app-has {
	font-size: 3em; /* возможно не надо */
	text-align: center
}

.app-tests {
	display: grid;
	grid-template-columns: 2fr auto 1fr;
	border-bottom: 3px solid rgb(7,66,113);
}

.app-tests-num {
	background: rgb(7,66,113);
	background: linear-gradient(0deg, rgba(7,66,113,1) 0%, rgba(40,122,188,1) 100%);
	color: white;
	padding: 10px;
	font-size: 1.5em;
	font-weight: bold;
	display: grid;
    align-items: center;
    text-align: center;
}

.app-tests-list {
	list-style-type: square;
}

.app-screens {
	display: grid;
	grid-template-columns: repeat(4,1fr);
	gap: 5px;
	margin: 0 40px 0 40px;
}

.app-screens-header {
	font-size: 2em;
	margin-left: 40px;
}

.app-screens img {
	width: 100%;
}

.app-download {
	margin-top: 40px;
	padding-left: 40px;
	background-color: #287abc;
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	color: #e6e3d0; 
}

.app-download h2 {
	font-size: 3em;
}

.link-download-srv {
    border: 0;
    background: #242424;
    padding: 10px;
    transition: 0.5s;
}

.link-download-srv:hover {
	background-color: rgba(36, 36, 36, 0.8);
	box-shadow: -5px -9px 0px -5px white inset;
}

.link-download-srv a {
	text-decoration: none;
	color: #e6e3d0; 
	font-size: 1.5em;
}

.link-download-tor {
	border: 0;
    background-color: gold;
    padding: 10px;
    transition: 0.5s;
}

.link-download-tor a {
	text-decoration: none;
	color: #242424; 
	font-size: 1.5em;
}

.link-download-tor:hover {
	background-color: rgba(255, 215, 0, 0.8);
	box-shadow: -5px -9px 0px -5px white inset;
	color: #242424;
}

.app-donations {
	margin: 0 40px 0 40px;
}


/* моб. адаптация */
@media only screen and (max-width: 800px) {
	.appWrapper {
		min-height: auto;
		grid-template-columns: 1fr;
		background-image: unset;
	} 
	.appDesc {
		margin: 0;
		padding: 20px 10px 20px 10px;
	}
	.appDesc h1 {
		font-size: 2em;
	}
	.app-has {
		font-size: 2em;
		margin-top: 1.5em;
	}
	#downloadButton, #infoButton {
		font-size: 1.2em;
	}
	.app-tests-num {
		height: 300px;
	}
	.about-app {
		margin:0;
	}
	.app-tests {
		display: block;
		border-bottom: unset;
	}
	.app-tests-row2 {
		margin-top: -15px;
	}
	.app-info {
		display: block;
		margin: 0;
	}
	.sys-req {
		margin: 10px;
	}
	.app-img img {
		max-width: 100%;
	}
	.app-screens {
		display: block;
		margin: 0;
	}
	.app-screens-header {
		margin-left: 10px;
	}
	.app-screens img {
		margin-bottom: 10px;
	}
	.app-download {
		display: block;
		margin: 0;
		padding: 40px;
	}
	.link-download-tor {
		margin-top: 10px;
	}
	.app-donations {
		margin: 10px;
	}
}